
input + span {
  padding-right: 30px;
}

input:invalid+span:after {
  position: center; content: 'X';
  color: red;
  padding-left: 5px;
}

input:valid+span:after {
  position: center;
  content: '✓';
  color: green;
  padding-left: 5px;
}

.formulaire{
  border-radius:2%;
  background-color: rgb(0,0,0,0.2);
  padding-bottom: 40px;
  margin-top: 40px;
 } 

body{
	background-image: url(../images/im.jpg);
}


.forme{

	font-weight: bold;
	border-radius: 2%;	 
	margin-top: 80px;
  
}
h1{
  margin-bottom: 50px;
  color: white;
  text-align: center;
}


.inp{
  margin-bottom: 25px;
}

.p_text{
  display: none;
  color: red;
  margin-top: 10px;
}
